.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form-container > form {
  width: 100%;
  max-width: 800px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.form-container h3 {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 11px;
}

.form-line > div {
  display: flex;
  gap: 10px;
}

.form-line > label {
  font-weight: 600;
  font-size: 10px;
  background-color: white;
  display: block;
}

.form-line > label.required::after {
  display: inline-block;
  content: '*';
  font-size: 14px;
  margin-left: 3px;
  color: var(--error);
}

.form-line input {
  line-height: 34px;
  color: var(--black);
}

.form-line textarea {
  line-height: 14px;
  height: 68px;
  padding-top: 5px;
}

.form-line input[type="checkbox"] {
  width: 34px;
  height: 34px;
  margin: 5px 0;
}

.form-rif-type,
.form-line .form-phone-code {
  width: 50px;
  padding: 0 5px;
}

.form-line ::placeholder {
  color: var(--border);
  opacity: 0.5;
}

.form-line > button {
  width: auto;
}

.form-line .error {
  border-color: var(--error);
} 