html {
    width: 100%;
    height: 100%;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
}

h2 {
    color: var(--border);
}

p {
    color: var(--border);
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo-wrapper>div {
    width: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-wrapper>div>img {
    width: 100%;
    border-radius: 50%;

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100% - 80px);
    padding: 30px;
    margin: 0 40px;
    border-radius: 5px;
}

.form-wrapper>p {
    font-size: 14px;
    color: var(--border);
}

.form-wrapper>p>a {
    text-decoration: none;
    color: var(--secondary);
}

.form-error {
    color: var(--error);
    font-size: 11px;
    bottom: 0;
    height: fit-content;
    line-height: 11px;
    margin: -7px 0;
}

.login-description {
    padding: 0 20px;
    text-align: center;
}

.login-description h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
}

.login-description p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}