.cart__container {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 90;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.cart__icon {
    position: relative;
}

.cart__icon > i {
    color: var(--primary);
    font-size: 25px;
    margin-right: 10px;
}

.cart__icon > span {
    background-color: var(--secondary);
    font-size: 11px;
    width: auto;
    padding: 1px 5px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: -5px;
    right: 0;
}

.cart__list {
    position: fixed;
    top: 60px;
    right: 7px;
    z-index: 100;
    background-color: white;
    padding: 20px;
}