.item__header {
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
}

.item__icons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% - 150px);
}

.item__icon {
    color: var(--border);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.item__icon-input {
    width: 80px;
    border-radius: 5px 0 5px 0;
    background-color: var(--primary);
    color: white;
}

.item__icon-input input {
    width: 30px;
    border: none;
    text-align: right;
    margin-right: 10px;
    font-size: 14px;
    background-color: var(--primary);
    color: white;
    border-bottom: 1px solid white;
}

.item__price {
    width: 150px;
    height: 40px;
    text-align: right;
    line-height: 20px;
    padding: 5px 10px 0 0;
    color: var(--gray);
    font-weight: 600;
}

.item__stock {
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    color: var(--border);
}