.header-location {
    height: 60px;
    line-height: 63px;
    user-select: none;
    position: fixed;
    background-color: white;
    width: calc(100% - 70px);
    margin-left: 70px;
}

.header-location > span:first-child {
    color: var(--light-gray);
}

.header-location > span:nth-child(2) {
    margin: 0 10px;
    color: var(--primary);
}