.client__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client__header .card__line {
  padding: 0;
}

.client__header .card__line .label {
  margin-right: 5px;
}

.client__header .card__line .card__title,
.client__header .card__line .card__label {
  font-size: 12px;
}

.client__info .card__label,
.client__info .card__title {
  font-size: 11px;
}

.client__info .card__title a,
.client__header .card__line .card__title a {
  text-decoration: none;
  color: var(--info);
}
