.items-display {
    display: flex;
    justify-content: stretch;
    padding: 0 10px 0 10px;
}

.items-display > span {
    display: block;
    width: 60px;
    height: 47px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    border-radius: 0 5px 5px 0;
}

.items-display > input {
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--secondary);
    border-right: none;
}

.items__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}